
<div class="dashboard-header-menu-footer"> <!-- main div -->
    <div><!-- header div -->
        <app-header1></app-header1>
    </div>
    <div class="dashboard-menu-content"><!-- centre div -->
        <div class="menu"> <!-- Left Menu div -->
            <app-menu></app-menu>
        </div>
        <div class="content"><!-- Right Content div -->
            <!-- <div>
              <app-list-student></app-list-student>
            </div>
            <div>
                <app-welcome></app-welcome>
              </div> -->
              <router-outlet></router-outlet>
        </div>        
    </div>
    <div><!-- footer div -->
        <app-footer></app-footer>
    </div>


</div>

