<p class="mat-toolbar">
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
    <mat-toolbar>
      <button mat-button class="menu-button">
          <mat-icon>home</mat-icon>
          <span>Home</span>
      </button>
      
      
      <button mat-button class="menu-button">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
      </button>
      
      
      <button mat-button class="menu-button">
          <mat-icon>info</mat-icon>
          <span>About</span>
      </button>
      
      
      
      <button mat-button class="menu-button">
          <mat-icon>help</mat-icon>
          <span>Help</span>
      </button>
      </mat-toolbar>
  </p>
